<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="fulldate" value="${date:format=yyyy.MM.dd HH\:mm\:ss\:fff}"/>
    <variable name="filedate" value="${date:format=yyyy.MM.dd HH-mm-ss}"/>
    <variable name="minutes" value="${date:format=HH\:mm\:ss\:fff}"/>
    <variable name="func" value="${callsite:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}"/>
    <variable name="myStackTrace" value=""/>
    <variable name="vers" value="v1.12.00"/>
    <variable name="myHeader" value="${var:vers}"/>
  
    <!-- Files:-->
    <variable name="netPath" value="\\fserver-366\\public\ogur\nlogs"/>    
    <variable name="PCNetPath" value="${netPath}-pc\${machinename}"/> 
    <!-- Layouts:-->
    <variable name="outStack" value="${minutes} |${level}| ${message}   |thread ${threadid}| ${stacktrace} ${callsite-linenumber}"/>
    <variable name="outDefault" value="${minutes} |${level}| thread ${threadid}| ${var:func} |${callsite-linenumber}  ${message}"/>    
    <variable name="outExList" value="${fulldate} |${machinename}|${windows-identity:domain=false}| ${var:func} |  ${message}"/>
    <variable name="outExOne" value="${fulldate} |${level}| ${machinename}|${windows-identity:domain=false}|${newline}${message}${newline} ${newline} ${stacktrace:topFrames=8:separator=&#13;&#10;} line=${callsite-linenumber} ${newline} ${newline} ${exception:format=toString,Data:maxInnerExceptionLevel=8}${newline}${newline}${myStackTrace}"/>
<!--${callsite:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true:fileName=true}-->
  <targets async="true">    
    <target name="console" xsi:type="ColoredConsole" 
            layout="${outDefault}"/>    
    <target name="locTrace" xsi:type="File" 
            fileName="nlogs\trace.log" 
            layout="${outDefault}" 
            deleteOldFileOnStartup="true"/>    
    <target name="locTraceStack" xsi:type="File" 
            fileName="nlogs\trace stack.log" 
            layout="${outStack}" 
            deleteOldFileOnStartup="true"/>    
    <target name="locDebugStack" xsi:type="File" 
            fileName="nlogs\debug stack.log" 
            layout="${outStack}" 
            deleteOldFileOnStartup="true"/>    
    <target name="netTrace" xsi:type="File" 
          fileName="${PCNetPath}\trace.log" 
          layout="${outDefault}" 
          deleteOldFileOnStartup="true" 
          header="${myHeader}"/>    
    <target name="netDebug" xsi:type="File" 
            fileName="${PCNetPath}\debug.log" 
            layout="${outDefault}" 
            deleteOldFileOnStartup="true"/>    
    <target name="netTraceStack" xsi:type="File" 
            fileName="${PCNetPath}\trace stack.log" 
            layout="${outStack}" 
            deleteOldFileOnStartup="true"/>    
    <target name="netDebugStack" xsi:type="File" 
          fileName="${PCNetPath}\debug stack.log" 
          layout="${outStack}" 
          deleteOldFileOnStartup="true"/>     
    
    <target name="ex" xsi:type="File" 
            fileName="${netPath}-Errors\${var:func}\${machinename} ${filedate}.log" 
            layout="${outExOne}" 
            header="${myHeader}"
            archiveFileName="${netPath}-Errors\${var:func}\${machinename} {#}.log"
            archiveDateFormat="yyyy.MM.dd HH-mm-ss"
            archiveNumbering="Date"
            archiveEvery="Year"
            maxArchiveFiles="1"/>    
    <target name="exPerPC" xsi:type="File" 
            fileName="${PCNetPath}\${var:func}\${filedate}.log"
            layout="${outExOne}" 
            header="${myHeader}"
            archiveFileName="${PCNetPath}\${var:func}\{#}.log"
            archiveDateFormat="yyyy.MM.dd HH-mm-ss"
            archiveNumbering="Date"
            archiveEvery="Year"
            maxArchiveFiles="3"/>
    
    <target name="exLast" xsi:type="File" 
            fileName="${netPath}-Errors\Last\${filedate}.log" 
            layout="${outExOne}" 
            header="${myHeader}"
            archiveFileName="${netPath}-Errors\Last\{#}.log"
            archiveDateFormat="yyyy.MM.dd HH-mm-ss"
            archiveNumbering="Date"
            archiveEvery="Year"
            maxArchiveFiles="9"/>    
    <target name="exLastPerPC" xsi:type="File" 
            fileName="${PCNetPath}\Last\${filedate}.log" 
            layout="${outExOne}" 
            header="${myHeader}"
            archiveFileName="${PCNetPath}\Last\{#}.log"
            archiveDateFormat="yyyy.MM.dd HH-mm-ss"
            archiveNumbering="Date"
            archiveEvery="Year"
            maxArchiveFiles="9"/>

    <target name="example" xsi:type="File"
          layout="${longdate} ${logger} ${message}" 
          fileName="${basedir}/${cached:${date:format=yyyy.MM.dd HH-mm-ss}}.log"
          archiveFileName="${basedir}/{#}.log"
          archiveDateFormat="yyyy.MM.dd HH-mm-ss"
          archiveNumbering="Date"
          archiveEvery="Year"
          maxArchiveFiles="9" />
    />
    
    <target name="listEx" xsi:type="File" 
            fileName="${netPath}-errors\Errors.log" 
            layout="${outExList}"
    />    
    <target name="listexPerPC" xsi:type="File" 
            fileName="${PCNetPath}\Errors.log" 
            layout="${outExList}"
    />  
    
    <target name="locWBtrace" xsi:type="File" 
            fileName="nlogs\wb trace.log" 
            layout="${outDefault}" deleteOldFileOnStartup="true"/>
    <target name="locWBdebug" xsi:type="File" 
            fileName="nlogs\wb.log" 
            layout="${outDefault}" deleteOldFileOnStartup="true"/>
    <target name="netWBdebug" xsi:type="File" 
            fileName="${PCNetPath}\wb.log" 
            layout="${outDefault}" deleteOldFileOnStartup="true"/>
  </targets>

  <rules>    
    <logger name="whiteBalance" minlevel="Trace" writeTo="locWBtrace"/>
    <logger name="whiteBalance" minlevel="Debug" writeTo="locWBdebug, netWBdebug"/>
    <logger name="whiteBalance" minlevel="Trace" maxlevel="Debug" final="true"/>
        

    <logger name="*" minlevel="Trace" writeTo="locTrace, locTraceStack, netTrace, console, netTraceStack"/>
    <logger name="*" minlevel="Debug" writeTo="netDebug, locDebugStack, netDebugStack"/>
    
    <logger name="*" minlevel="error" writeTo="ex,listEx, exPerPC, listexPerPC, exLast, exLastPerPC"/>
  </rules>
</nlog>
